<div class="row">
    <div class="col-6">
      <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Type to filter">
    </div>
  </div>
  <hr>
  
  <table class="table table-striped" *ngIf='lugares && lugares.length'>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">identificación</th>
        <th scope="col">Nombre </th>
        <th scope="col">Descripcion</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lugar of lugares | filtroLugar:searchText; index as i" (click)="seleccionar(lugar)">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{lugar.id}}</td>
         <td>{{lugar.nombre}}</td>
         <td>{{lugar.descripcion}}</td>
      </tr>
    </tbody>
  </table>