<header class="Titulo">
        <h1>Restaurantes</h1>
    </header>
    <body>
            <div>
                  <!--- <h1 class="h2">List</h1>-->
                    </div>
                    <div>
                        <table class='table table-striped'>
                            <thead>
                                <tr>
                                    <tr>
                                        <!--<th>Id</th>-->
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Dirección</th>
                                        <th>Teléfono</th>
                                        <th>Precio</th>
                                        <th>Descuento</th>
                                        
                                        <th>Ver</th>
                                    </tr>
                                
                            </thead>
                            <tr *ngFor="let restaurante of restaurantes">
                               <!--<td>{{cliente.id}}</td>-->
                               <td>{{restaurante.id}}</td>
                               <td>{{restaurante.nombre}}</td>
                               <td>{{restaurante.direccion}}</td>
                               <td>{{restaurante.telefono}}</td>
                               <td>{{restaurante.precio}}</td>
                               <td>{{restaurante.descuento}}</td>
                               
                               <td><a routerLink="/restauranteedit/{{restaurante.id}}">
                                ver
                               </a></td>
                            </tr>
                        </table>
                    </div>
    </body>
    
