<header class="Titulo">
    <h1>Ayuda</h1>
</header>
<body>
    <h1>PREGUNTAS FRECUENTES</h1>
    <h1>¿Qué es Upar Tour?</h1>
    <div>
        <p>
            Es una microempresa dedicada a incentivar el turismo en el departamento del cesar, mostrándole a las personas 
            desde la comodidad de su cosa los maravillosos lugares que se encuentran aquí.
        </p>
    </div><br><br>
    <h1>¿El guía de turismo conoce la historia del lugar?</h1>
    <div>
        <p>
                Sí, nuestros guías conocen al 100% los lugares que ofrecemos y te contarán durante el recorrido una breve 
                historia de cada sitio turístico al que se llegue.
        </p>
    </div><br><br>
    <h1>¿Qué pasa si solo quiero que me lleven al lugar que deseo?</h1>
    <div>
        <p>
                Upar Tour te deja en el lugar que desees dentro del departamento del cesar para que tu los explores a tu gusto.
        </p>
    </div><br><br>
    <h1>¿Cómo son los tours públicos?</h1>
    <div>
        <p>
                Ofrecemos el acompañamiento a aproximadamente 43 personas a un lugar del que
                les hablaremos y daremos un recorrido.
        </p>
    </div><br><br>
    <h1>¿Qué pasa si me separo del grupo?</h1>
    <div>
        <p>
                El los tour públicos es bastante común que algunas personas quieran conocer el lugar por sí solas en este caso 
                recomendamos que estén atentos a las horas de llegada y de salida además se le harán tres llamados para continuar 
                con el recorrido con el fin de que no quede fuera de este.
        </p>
    </div><br><br>
</body>
