<div class="row">
    <div class="col-6">
      <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Type to filter">
    </div>
  </div>
  <hr>
  
  <table class="table table-striped" *ngIf='clientes && clientes.length'>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">identificación</th>
        <th scope="col">Nombre </th>
        <th scope="col">Nombre </th>
        <th scope="col">Nombre </th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Nombre </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes | filtroCliente:searchText; index as i" (click)="seleccionar(cliente)">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{cliente.identificacion}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellidos}}</td>
        <td>{{cliente.correo}}</td>
        <td>{{cliente.contrasena}}</td>
        <td>{{cliente.direccion}}</td>
         <td>{{cliente.telefono}}</td>
      </tr>
    </tbody>
  </table>