<header class="Titulo">
    <h1>Nosotros</h1>
</header>
<body>
    <h1>¿QUIÉNES SOMOS?</h1>
    <div>
        <p>
            Somos una empresa dedicada al transporte turístico y ejecutivo en vehículos, desde 4 hasta 44 personas.
            Nos encargamos del alojamiento en los hoteles y contamos con guías turísticos especializados y 
            conductores guías. Brindamos asesorías y planeación de viajes y giras por todo el territorio cesarense.
            También fomentamos el ecoturismo y organizamos excursiones de graduación.
        </p>
    </div><br><br>
    <div>
        <h1>INFORMACIÓN DE CONTACTO.</h1>
        <strong>Facebook: </strong>upartour.<br>
        <strong>Instagram: </strong>upartour.<br>
        <strong>Email: </strong>upar.tour@gmail.com<br>
        <strong>Teléfono: </strong>3157888444.
    </div>
</body>
