a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.todo{
  background: #28276d;
}
.agrupar{
  background: rgba(205, 205, 214, 0.1);
  width: 1085px;
  
  padding: 15px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.borde{
  
  background: rgba(73, 247, 4, 0.2);
  background: -webkit-linear-gradient(to bottom, #668686, #7a6c6c,0.1);  
  background: linear-gradient(to bottom, #758b8a, #7e6e6e,0.1);
  padding: 15px;
  width: 1117px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  float: none;
  margin-left: 0px;
}



.Menu{
  background: rgba(73, 247, 4, 0.2);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  padding: 15px;
  width: 915px;
  float: none;
  font-size: 20px;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  display:inline-block;
}

.Borde-Menu{
  background: rgba(205, 205, 214, 0.1);
  
  background: -webkit-linear-gradient(to bottom, #668686, #7a6c6c,0.1);  
  background: linear-gradient(to bottom, #758b8a, #7e6e6e,0.1);;
  padding: 15px;
  width: 1008px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  float: none;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

body{
  background: rgb(228, 218, 224);
}

.final{
  background: rgb(37, 36, 37);
}

